<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee
    http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
    version="2.4">

	<resource-ref>
		<description>rakugo_db</description>
		<res-ref-name>jdbc/rakugo_db</res-ref-name>
		<res-type>javax.sql.DataSource</res-type>
		<res-auth>Container</res-auth>
	</resource-ref>
	
    <servlet>
        <servlet-name>HuriganaSearch</servlet-name>
        <servlet-class>
          jp.rakugo.nii.HuriganaSearch
        </servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HuriganaStore</servlet-name>
        <servlet-class>
          jp.rakugo.nii.HuriganaStore
        </servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FullNameSet</servlet-name>
        <servlet-class>
          jp.rakugo.nii.FullNameSet
        </servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CalendarAssist</servlet-name>
        <servlet-class>
          jp.rakugo.nii.CalendarAssist
        </servlet-class>
    </servlet>
	    <servlet>
        <servlet-name>mysrv</servlet-name>
        <servlet-class>
          hoge.MyServlet
        </servlet-class>
    </servlet>

<!--   -->
    <servlet-mapping>
        <servlet-name>HuriganaSearch</servlet-name>
        <url-pattern>/hgsch</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HuriganaStore</servlet-name>
        <url-pattern>/hgstr</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FullNameSet</servlet-name>
        <url-pattern>/fnset</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CalendarAssist</servlet-name>
        <url-pattern>/clast</url-pattern>
    </servlet-mapping>
<!--  -->
    <servlet-mapping>
        <servlet-name>mysrv</servlet-name>
        <url-pattern>/mysrv</url-pattern>
    </servlet-mapping>

</web-app>